<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://getbootstrap.com/docs/5.2/assets/css/docs.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap"
    />
    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <% include ../partials/navbar.ejs %>
    <div class="box">
      <form  method="post">
        <div class="form-group" style="padding-bottom: 0;">
            <label for="name">Book title:</label>
            <input
                type="text"
                name="name"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Enter the book title"
                value="<%= book.name %> "
                required
            />
        </div>
        <div class="form-group" style="padding-bottom: 0;">
            <label for="author">Author</label>
            <input
            type="text"
            name="author"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Enter the Author's Name"
            value="<%= book.author %> "
            required
            />
        </div>
        <div class="form-group" style="padding-bottom: 0;">
            <label for="published">Year </label>
            <input
            type="text"
            name="published"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Enter the Publication Year "
            value="<%= book.published %> "
            required
            />
        </div>
        <div class="form-group" style="padding-bottom: 0;">
            <label for="description">Description</label>
            <textarea
            class="form-control"
            name="description"
            id="exampleFormControlTextarea1"
            placeholder="Enter a brief description of the book"
            ><%= book.description %></textarea>
        <div class="form-group" style="padding-bottom: 0;">
            <label for="price">Price </label>
            <input
            type="text"
            name="price"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Enter the Price "
            value="<%= book.price %> "
            required
            />
        </div>
        <div class="d-flex justify-content-center" style="padding-top:2rem ;" >
            <button class="btn btn-primary btn-sm" type="submit" style="margin-right: 2rem;"><i class="fa-solid fa-pen-to-square" ></i> Submit</button>
            <a href="/book-list" class="btn btn-danger btn-sm""><i class="fa-solid fa-rotate-left"></i> Cancel</a>
        </div>
      </form>
    </div>
    <% include ../partials/footer.ejs %>
  </body>
</html>
